/* -------------------------*/
/* GENERAL */
/* -------------------------*/

html {
    height: 100%;
}

body {
    margin: 0;
    min-height: 100vh;
}


/* -------------------------*/
/* TITEL */
/* -------------------------*/
.mainTitle, .subTitle{
    font-weight: bold;
}

.mainTitle{
    font-size: xxx-large;
}

.subTitle{
    font-size: x-large;
}

.infoButton {
    position: relative;
    top: -60px;
    margin-right: 10px;
    float: right;
    height: 35px;
    width: 35px;
    border-radius: 10px;
    background-color: white;
    border-color: black;
    color: black;
    font-weight: bold;
    font-family: "serif"
}


/* -------------------------*/
/* DROPDOWNS */
/* -------------------------*/
.DDtext{
    color: lightblue;
    font-weight:bold;
    font-size: medium;
}

.ddbig{
    minWidth: 100px;
    height: 50px;
}

.ddsmall{
    minWidth: 200px;
    height: 50px;
}


/* -------------------------*/
/* 1. REIHE */
/* -------------------------*/
.row1Div {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    min-height: 190px;
}

.row1DD {
    min-width: 80px;
}

.row1Col {
    padding-bottom: 20px;
}


/* -------------------------*/
/* 2. REIHE */
/* -------------------------*/
.row2Div {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    min-height: 650px;
    padding-bottom: 20px;
    align-content: center;
}

.row2Col {
    padding-bottom: 20px;
}

.row2bat {
    min-width: 80px;
    align-content: center;
}

.row2gauge{
    min-width: 80px;
    align-content: center;
}

.row2graph{
    min-width: 80px;
    align-content: center;
}

.batDiv{
    align-content: center;
}

table, tr, td, th{
    border: none;
}

.topTab{
    margin-bottom: 20px;
}

.tableText{
    font-size: medium;
    font-weight: bold;
    text-align: center;
}

.tableNum{
    font-size: medium;
    text-align: center;
}

.tableNumSec{
    font-size: medium;
    text-align: center;
    text-decoration-line: underline;
    text-decoration-style: solid;
}

.tableNumLast{
    font-size: medium;
    text-align: center;
    text-decoration-line: underline;
    text-decoration-style: double;
}

.tableNumAmort{
    font-size: medium;
    text-align: center;
    border-radius: 10px;
    border: double;
}

.graphText{
    color: lightblue;
    font-weight:bold;
    text-align: center;
    font-size: larger;
}


/* -------------------------*/
/* 3. REIHE */
/* -------------------------*/
.row3Div {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    min-height: 650px;
    padding-bottom: 20px;
}


/* -------------------------*/
/* TABS */
/* -------------------------*/
.tab_style{
    color: black;
    font-size: large;
    border-top-left-radius: 3px;
    padding: 0px 24px;
}

.tab_style--selected{
    color: black;
    font-size: large;
    font-weight: bolder;
    box-shadow: 1px 1px 0px white;
    border-left: 1px solid lightgrey !important;
    border-right: 1px solid lightgrey !important;
    border-top: 3px solid #e36209 !important;

}